@font-face {
    font-family: 'ITC Avant Garde Gothic Pro';
    src: url('./assets/fonts/ITCAvantGardeGothicPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniversNextW04-620CondBold';
    src: url('./assets/fonts/UniversNextW04-620CondBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Pro XLt';
    src: url('./assets/fonts/ITCAvantGardeGothicPro-XLt.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Pro Md';
    src: url('./assets/fonts/ITCAvantGardeGothicPro-Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* --- ESTILOS GLOBALES DE SCROLLBAR --- */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight-color, #FE4403);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
